@charset "utf-8";
/* CSS Document */

.LR{
	display:none;
	position:absolute;
	top:25%;
	left:40%;
	width:327px;
	height:373px;
	z-index:100;
	overflow:auto;
	}
#login{
	background:url(../images/login.png) no-repeat;
	}
#register{
	background:url(../images/register.png) no-repeat;
	}	
#fade{
	display:none;
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	background-color:#000;
	z-index:10;
	-moz-opacity:0.8;
	opacity:.80;
	filter:alpha(opacity=88);
	}
	
.close{
	float:right;
	margin-top:50px;
	margin-right:15px;
	cursor:pointer;
	}	

.LR_login_tab{
	margin-top:15px;
	margin-left:30px;
	width:60px;
	height:30px;
	color:#328CCB;
	text-shadow:2px;
	font-weight:1000;
	font-size:24px;
	cursor:pointer;
	}

.LR_register_tab{
	margin-top:-55px;
	margin-left:162px;
	width:60px;
	height:30px;
	color:white;
	text-shadow:2px;
	font-weight:bolder;
	font-size:24px;
	cursor:pointer;
	}
	
.inputArea{
	margin-left:30px;
	margin-top:60px;
	}
.inputArea_tab{
	font-size:12px;
	}
	
.inputArea > input {
	padding: 2px;
	border: 2px solid #e0e0e0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width:230px;
	height:18px;
	color:#328CCB;
	font-weight:bold;
}

.inputArea > input:focus {
	outline: none;

}

#termsArea{
	font-size:12px;
	margin-top:30px;
	margin-left:30px;
	}
.LR_btn{
	margin-left:180px;
	margin-top:50px;
	width:120px;
	height:35px;
	cursor:pointer;
	}

#registerBtn{
	margin-top:35px;
	}
#registerBtn:hover{
	margin-top:33px;
	}
#remberID{
	font-size:12px;
	margin-left:30px;
	margin-top:30px;
	}
#succeedSignUp{
	color:red; 
	font-size:12px; 
	margin-left:30px;
    margin-top:-75px; 
	display:none;
	}
#loading{
	position:absolute;
	width:120px;
	height:120px;
	margin-left:100px;
	margin-top:-220px;
	display:none;
	z-index:1000;
	}